# Ignore files in repository working files

# Ignore "junk" and other files often used for work
junk

# Ignore compiled Python files, in case Python scripts are used.
*.py[cod]

# Ignore Python stack dump files when a crash occurs
*.stackdump

# Ignore log files
*.log

# Ignore temporary junk files (throw-away files)
*.junk

# Ignore temporary HTML files
*.tmp.html

# vim editor files

*.swp
*.swo

# Microsoft temporary files
*.tmp
~$*

# .RHistory files created by R Studio software
*.Rhistory

# Ignore file extension used as temporary for .bat, etc. so email attachment works
*.xxx

# Ignore working files, in particular dynamically-created files created for InfoMapper.
# Putting these items here avoids the need for many separate .gitignore files,
# but need to pay attention to conventions.
#
#
# For web, just ignore dynamically-created files
# - all other content is version-controlled
/web/data-maps/*
/web/data-ts/*

# ======================================================
# Supporting Data menu
# ======================================================

# SupportingData/Administration-CoDwrWaterDistricts
/workflow/SupportingData/Administration-CoDwrWaterDistricts/downloads/*
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/downloads/README.md
/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/*
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/README.md
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/*.csv
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/*.json
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/*.md
!/workflow/SupportingData/Administration-CoDwrWaterDistricts/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Administration-CoDwrWaterDistricts/*.json

# SupportingData/Political-Counties/
# Dynamic map configurations
#/workflow/SupportingData/Political-Counties/*.json
# downloads/
/workflow/SupportingData/Political-Counties/downloads/*
!/workflow/SupportingData/Political-Counties/downloads/README.md
# db/
# - ignore generated database
/workflow/SupportingData/Political-Counties/db/*
!/workflow/SupportingData/Political-Counties/db/README.md
# layers/
# - csv are layer classification files
# - md are Markdown filees to document layers
/workflow/SupportingData/Political-Counties/layers/*
!/workflow/SupportingData/Political-Counties/layers/README.md
!/workflow/SupportingData/Political-Counties/layers/*.csv
!/workflow/SupportingData/Political-Counties/layers/*.json
!/workflow/SupportingData/Political-Counties/layers/*.md
!/workflow/SupportingData/Political-Counties/layers/*doc
# ts/
# - ignore generated time series files
/workflow/SupportingData/Political-Counties/ts/*
!/workflow/SupportingData/Political-Counties/ts/README.md
# graphs/
# - ignore images created for prototype
/workflow/SupportingData/Political-Counties/graphs/*.png

# SupportingData/Agriculture-IrrigatedLands
/workflow/SupportingData/Agriculture-IrrigatedLands/downloads/*
!/workflow/SupportingData/Agriculture-IrrigatedLands/downloads/README.md
/workflow/SupportingData/Agriculture-IrrigatedLands/layers/*
!/workflow/SupportingData/Agriculture-IrrigatedLands/layers/README.md
!/workflow/SupportingData/Agriculture-IrrigatedLands/layers/*.csv
!/workflow/SupportingData/Agriculture-IrrigatedLands/layers/*.json
!/workflow/SupportingData/Agriculture-IrrigatedLands/layers/*.md
!/workflow/SupportingData/Agriculture-IrrigatedLands/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Agriculture-IrrigatedLands/*.json

# SupportingData/Agriculture-IrrigatedLandsRaster
/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/downloads/*
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/downloads/README.md
/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/*
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/README.md
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/*.csv
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/*.json
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/*.md
!/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Agriculture-IrrigatedLandsRaster/*.json

# SupportingData/Municipal-WaterDedicationPolicies
/workflow/SupportingData/Municipal-WaterDedicationPolicies/downloads/*
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/downloads/README.md
/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/*
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/README.md
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/*.csv
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/*.json
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/*.md
!/workflow/SupportingData/Municipal-WaterDedicationPolicies/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Municipal-WaterDedicationPolicies/*.json

# SupportingData/Municipal-Municipalities
/workflow/SupportingData/Municipal-Municipalities/downloads/*
!/workflow/SupportingData/Municipal-Municipalities/downloads/README.md
/workflow/SupportingData/Municipal-Municipalities/layers/*
!/workflow/SupportingData/Municipal-Municipalities/layers/README.md
!/workflow/SupportingData/Municipal-Municipalities/layers/*.csv
!/workflow/SupportingData/Municipal-Municipalities/layers/*.json
!/workflow/SupportingData/Municipal-Municipalities/layers/*.md
!/workflow/SupportingData/Municipal-Municipalities/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Municipal-Municipalities/*.json
# ts/
# - ignore generated time series files
/workflow/SupportingData/Municipal-Municipalities/ts/*
!/workflow/SupportingData/Municipal-Municipalities/ts/README.md
# graphs/
# - ignore images created for prototype
/workflow/SupportingData/Municipal-Municipalities/graphs/*.png

# SupportingData/Municipal-WaterRentals
/workflow/SupportingData/Municipal-WaterRentals/downloads/*
!/workflow/SupportingData/Municipal-WaterRentals/downloads/README.md
/workflow/SupportingData/Municipal-WaterRentals/layers/*
!/workflow/SupportingData/Municipal-WaterRentals/layers/README.md
!/workflow/SupportingData/Municipal-WaterRentals/layers/*.csv
!/workflow/SupportingData/Municipal-WaterRentals/layers/*.json
!/workflow/SupportingData/Municipal-WaterRentals/layers/*.md
!/workflow/SupportingData/Municipal-WaterRentals/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/Municipal-WaterRentals/*.json

# SupportingData/WaterTransfer-CaseStudies
/workflow/SupportingData/WaterTransfer-CaseStudies/downloads/*
!/workflow/SupportingData/WaterTransfer-CaseStudies/downloads/README.md
/workflow/SupportingData/WaterTransfer-CaseStudies/layers/*
!/workflow/SupportingData/WaterTransfer-CaseStudies/layers/README.md
!/workflow/SupportingData/WaterTransfer-CaseStudies/layers/*.csv
!/workflow/SupportingData/WaterTransfer-CaseStudies/layers/*.json
!/workflow/SupportingData/WaterTransfer-CaseStudies/layers/*.md
!/workflow/SupportingData/WaterTransfer-CaseStudies/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/WaterTransfer-CaseStudies/*.json

# SupportingData/WaterSupply-WaterProviders
/workflow/SupportingData/WaterSupply-WaterProviders/downloads/*
!/workflow/SupportingData/WaterSupply-WaterProviders/downloads/README.md
/workflow/SupportingData/WaterSupply-WaterProviders/layers/*
!/workflow/SupportingData/WaterSupply-WaterProviders/layers/README.md
!/workflow/SupportingData/WaterSupply-WaterProviders/layers/*.csv
!/workflow/SupportingData/WaterSupply-WaterProviders/layers/*.json
!/workflow/SupportingData/WaterSupply-WaterProviders/layers/*.md
!/workflow/SupportingData/WaterSupply-WaterProviders/layers/*doc
# Dynamic map configurations
#/workflow/SupportingData/WaterSupply-WaterProviders/*.json

# ======================================================
# Baseline Scenario menu
# ======================================================

# BaselineScenario/01-CountyPopulation
/workflow/BaselineScenario/01-CountyPopulation/downloads/*
!/workflow/BaselineScenario/01-CountyPopulation/downloads/README.md
/workflow/BaselineScenario/01-CountyPopulation/layers/*
!/workflow/BaselineScenario/01-CountyPopulation/layers/README.md
!/workflow/BaselineScenario/01-CountyPopulation/layers/*.csv
!/workflow/BaselineScenario/01-CountyPopulation/layers/*.json
!/workflow/BaselineScenario/01-CountyPopulation/layers/*.md
!/workflow/BaselineScenario/01-CountyPopulation/layers/*doc
# Dynamic map configurations
#/workflow/BaselineScenario/01-CountyPopulation/*.json
# ts/
# - ignore generated time series files
/workflow/BaselineScenario/01-CountyPopulation/ts/*
!/workflow/BaselineScenario/01-CountyPopulation/ts/README.md
# graphs/
# - ignore images created for prototype
/workflow/BaselineScenario/01-CountyPopulation/graphs/*.png

# BaselineScenario/02-MunicipalityPopulation
/workflow/BaselineScenario/02-MunicipalityPopulation/downloads/*
!/workflow/BaselineScenario/02-MunicipalityPopulation/downloads/README.md
/workflow/BaselineScenario/02-MunicipalityPopulation/layers/*
!/workflow/BaselineScenario/02-MunicipalityPopulation/layers/README.md
!/workflow/BaselineScenario/02-MunicipalityPopulation/layers/*.csv
!/workflow/BaselineScenario/02-MunicipalityPopulation/layers/*.json
!/workflow/BaselineScenario/02-MunicipalityPopulation/layers/*.md
!/workflow/BaselineScenario/02-MunicipalityPopulation/layers/*doc
# Dynamic map configurations
#/workflow/BaselineScenario/02-MunicipalityPopulation/*.json
# ts/
# - ignore generated time series files
/workflow/BaselineScenario/02-MunicipalityPopulation/ts/*
!/workflow/BaselineScenario/02-MunicipalityPopulation/ts/README.md
# graphs/
# - ignore images created for prototype
/workflow/BaselineScenario/02-MunicipalityPopulation/graphs/*.png
